In [1]:
!pip install anndata

Requirement already satisfied: anndata in /opt/anaconda3/lib/python3.12/site-packages (0.11.3)
Requirement already satisfied: array-api-compat!=1.5,>1.4 in /opt/anaconda3/lib/python3.12/site-packages (from anndata) (1.10.0)
Requirement already satisfied: h5py>=3.7 in /opt/anaconda3/lib/python3.12/site-packages (from anndata) (3.11.0)
Requirement already satisfied: natsort in /opt/anaconda3/lib/python3.12/site-packages (from anndata) (8.4.0)
Requirement already satisfied: numpy>=1.23 in /opt/anaconda3/lib/python3.12/site-packages (from anndata) (1.26.4)
Requirement already satisfied: packaging>=20.0 in /opt/anaconda3/lib/python3.12/site-packages (from anndata) (23.2)
Requirement already satisfied: pandas!=2.1.0rc0,!=2.1.2,>=1.4 in /opt/anaconda3/lib/python3.12/site-packages (from anndata) (2.2.2)
Requirement already satisfied: scipy>1.8 in /opt/anaconda3/lib/python3.12/site-packages (from anndata) (1.13.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas!=2.1.0rc0,!=2.1.2,>=1.4->anndata) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas!=2.1.0rc0,!=2.1.2,>=1.4->anndata) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas!=2.1.0rc0,!=2.1.2,>=1.4->anndata) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas!=2.1.0rc0,!=2.1.2,>=1.4->anndata) (1.16.0)

In [2]:
import pandas as pd

bulk_feature_counts = pd.read_csv("/Volumes/Elements/PPMI_Project_133_RNASeq/ppmi_counts_meta_dataset.csv", index_col=0)

In [3]:
patient_status = pd.read_csv("/Volumes/Elements/PPMI_Project_133_RNASeq/Participant_Status_19Mar2025.csv")

In [4]:
patient_status.head()

,PATNO,COHORT,COHORT_DEFINITION,ENROLL_DATE,ENROLL_STATUS,STATUS_DATE,SCREENEDAM4,ENROLL_AGE,INEXPAGE,AV133STDY,...,PPMI_ONLINE_ENROLL,ENRLPINK1,ENRLPRKN,ENRLSRDC,ENRLNORM,ENRLHPSM,ENRLRBD,ENRLLRRK2,ENRLSNCA,ENRLGBA
0,3000,2,Healthy Control,02/2011,Withdrew,10/2024,0.0,69.1,NaN,0.0,...,NO,0.0,0.0,0.0,NaN,0,0,0,0,0
1,3001,1,Parkinson's Disease,03/2011,Enrolled,09/2021,0.0,65.1,NaN,0.0,...,NO,0.0,0.0,1.0,NaN,0,0,0,0,0
2,3002,1,Parkinson's Disease,03/2011,Withdrew,10/2024,0.0,67.6,NaN,0.0,...,NO,0.0,0.0,1.0,NaN,0,0,0,0,0
3,3003,1,Parkinson's Disease,04/2011,Enrolled,01/2022,0.0,56.7,NaN,0.0,...,YES,0.0,0.0,1.0,NaN,0,0,0,0,0
4,3004,2,Healthy Control,04/2011,Enrolled,01/2022,0.0,59.4,NaN,0.0,...,YES,0.0,0.0,0.0,NaN,0,0,0,0,0

In [5]:
bulk_feature_counts.head()

,ENSG00000223972.5,ENSG00000227232.5,ENSG00000278267.1,ENSG00000243485.5,ENSG00000284332.1,ENSG00000237613.2,ENSG00000268020.3,ENSG00000240361.2,ENSG00000186092.6,ENSG00000238009.6,...,ENSG00000276017.1,ENSG00000278817.1,ENSG00000277196.4,ENSG00000278625.1,ENSG00000277374.1,Diagnosis,Sample,Visit,Gender,Patient
3174.V08.0000373111.5104.SL.0001,15,232,15,0,0,0,0,0,0,124,...,2,19,0,0,0,PD,3174.V08.0000373111.5104.SL.0001,V08,Male,3174
3201.BL.PP0016.0526.5104.SL.0002,2,199,10,0,0,0,0,1,0,126,...,0,3,0,0,0,Control,3201.BL.PP0016.0526.5104.SL.0002,BL,Female,3201
3057.V06.0003125874.5104.SL.0003,0,148,2,1,0,1,0,1,0,131,...,1,15,3,0,0,Control,3057.V06.0003125874.5104.SL.0003,V06,Female,3057
4126.V04.0003179818.5104.SL.0004,6,216,16,0,0,0,0,0,0,133,...,1,2,2,0,0,PD,4126.V04.0003179818.5104.SL.0004,V04,Male,4126
4117.BL.0003164601.5104.SL.0005,0,95,3,0,0,1,0,1,0,143,...,0,12,1,0,0,PD,4117.BL.0003164601.5104.SL.0005,BL,Female,4117

In [15]:
patient_status[patient_status['PATNO'].isin(bulk_feature_counts['Patient'].unique())].shape

(1189, 25)

In [14]:
genetic_mapping = {
    'ENRLPINK1': 'PINK1',
    'ENRLPRKN': 'PRKN',
    'ENRLSRDC': 'SRDC',
    'ENRLHPSM': 'HPSM',
    'ENRLRBD': 'RBD',
    'ENRLLRRK2': 'LRRK2',
    'ENRLSNCA': 'SNCA',
    'ENRLGBA': 'GBA'
}

def get_genetic_group(row):
    for col, group in genetic_mapping.items():
        if row[col] == 1:
            return group
    return 'None'

genetic_groups = patient_status[['PATNO'] + list(genetic_mapping.keys())].copy()
genetic_groups['Genetic_Group'] = genetic_groups.apply(get_genetic_group, axis=1)

bulk_feature_counts = bulk_feature_counts.merge(
    genetic_groups[['PATNO', 'Genetic_Group']],
    left_on='Patient',
    right_on='PATNO',
    how='left'
).drop(columns=['PATNO'])

bulk_feature_counts['Genetic_Group'] = bulk_feature_counts['Genetic_Group'].fillna('Unknown')

In [15]:
bulk_feature_counts.head()

,ENSG00000223972.5,ENSG00000227232.5,ENSG00000278267.1,ENSG00000243485.5,ENSG00000284332.1,ENSG00000237613.2,ENSG00000268020.3,ENSG00000240361.2,ENSG00000186092.6,ENSG00000238009.6,...,ENSG00000278817.1,ENSG00000277196.4,ENSG00000278625.1,ENSG00000277374.1,Diagnosis,Sample,Visit,Gender,Patient,Genetic_Group
0,15,232,15,0,0,0,0,0,0,124,...,19,0,0,0,PD,3174.V08.0000373111.5104.SL.0001,V08,Male,3174,SRDC
1,2,199,10,0,0,0,0,1,0,126,...,3,0,0,0,Control,3201.BL.PP0016.0526.5104.SL.0002,BL,Female,3201,None
2,0,148,2,1,0,1,0,1,0,131,...,15,3,0,0,Control,3057.V06.0003125874.5104.SL.0003,V06,Female,3057,None
3,6,216,16,0,0,0,0,0,0,133,...,2,2,0,0,PD,4126.V04.0003179818.5104.SL.0004,V04,Male,4126,SRDC
4,0,95,3,0,0,1,0,1,0,143,...,12,1,0,0,PD,4117.BL.0003164601.5104.SL.0005,BL,Female,4117,SRDC

In [17]:
min_age, max_age = patient_status['ENROLL_AGE'].min(), patient_status['ENROLL_AGE'].max()
print(min_age, max_age)

26.4 89.7

In [21]:
patient_status[patient_status['ENROLL_AGE'] > 80]

,PATNO,COHORT,COHORT_DEFINITION,ENROLL_DATE,ENROLL_STATUS,STATUS_DATE,SCREENEDAM4,ENROLL_AGE,INEXPAGE,AV133STDY,...,PPMI_ONLINE_ENROLL,ENRLPINK1,ENRLPRKN,ENRLSRDC,ENRLNORM,ENRLHPSM,ENRLRBD,ENRLLRRK2,ENRLSNCA,ENRLGBA
8,3008,2,Healthy Control,06/2011,Withdrew,04/2024,0.0,81.9,NaN,0.0,...,NO,0.0,0.0,0.0,NaN,0,0,0,0,0
9,3009,2,Healthy Control,06/2011,Enrolled,05/2021,0.0,83.7,NaN,0.0,...,YES,0.0,0.0,0.0,NaN,0,0,0,0,0
39,3059,1,Parkinson's Disease,02/2011,Withdrew,03/2016,NaN,83.0,NaN,NaN,...,NO,NaN,NaN,NaN,NaN,0,0,0,0,0
60,3080,1,Parkinson's Disease,07/2012,Complete,07/2017,NaN,80.2,NaN,NaN,...,NO,NaN,NaN,NaN,NaN,0,0,0,0,0
144,3190,1,Parkinson's Disease,04/2013,Enrolled,04/2013,NaN,82.3,NaN,NaN,...,NO,NaN,NaN,NaN,NaN,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4590,324445,4,Prodromal,10/2024,Enrolled,10/2024,0.0,89.7,INEXPRO,0.0,...,YES,0.0,0.0,0.0,0.0,1,0,0,0,0
4622,328101,4,Prodromal,11/2024,Enrolled,11/2024,0.0,80.6,INEXPRO,0.0,...,NO,0.0,0.0,0.0,0.0,1,0,0,0,0
4636,330671,4,Prodromal,09/2024,Enrolled,09/2024,0.0,83.4,INEXPRO,0.0,...,NO,0.0,0.0,0.0,NaN,1,0,0,0,0
4684,340692,4,Prodromal,02/2025,Enrolled,02/2025,0.0,81.5,INEXPRO,0.0,...,NO,0.0,0.0,0.0,0.0,1,0,0,0,0
4877,366827,2,Healthy Control,12/2024,Enrolled,12/2024,0.0,81.6,INEXHC,0.0,...,NO,0.0,0.0,0.0,0.0,0,0,0,0,0

In [22]:
def map_age_group(age):
    if 30 <= age <= 50:
        return "30-50"
    elif 50 < age <= 70:
        return "50-70"
    elif 70 < age <= 80:
        return "70-80"
    elif age > 80:
        return ">80"
    return "Unknown"

patient_status['Age_Group'] = patient_status['ENROLL_AGE'].apply(map_age_group)

age_group_mapping = patient_status[['PATNO', 'Age_Group']]

bulk_feature_counts = bulk_feature_counts.merge(
    age_group_mapping,
    left_on='Patient',
    right_on='PATNO',
    how='left'
).drop(columns=['PATNO'])

In [26]:
bulk_feature_counts[bulk_feature_counts['Age_Group'] == '>80']

,ENSG00000223972.5,ENSG00000227232.5,ENSG00000278267.1,ENSG00000243485.5,ENSG00000284332.1,ENSG00000237613.2,ENSG00000268020.3,ENSG00000240361.2,ENSG00000186092.6,ENSG00000238009.6,...,ENSG00000277196.4,ENSG00000278625.1,ENSG00000277374.1,Diagnosis,Sample,Visit,Gender,Patient,Genetic_Group,Age_Group
140,9,139,24,0,0,0,0,0,0,121,...,0,0,0,Prodromal,90456.BL.0003139742.5104.SL.0168,BL,Male,90456,HPSM,>80
163,7,38,2,0,0,0,0,0,0,16,...,0,0,0,PD,3080.V08.0000376386.5104.SL.0193,V08,Male,3080,None,>80
169,8,79,20,0,0,0,0,0,0,82,...,5,0,0,PD,3080.BL.PP0015.6664.5104.SL.0200,BL,Male,3080,None,>80
206,14,72,9,0,0,0,0,0,0,51,...,0,0,0,PD,3080.V04.0003136065.5104.SL.0239,V04,Male,3080,None,>80
235,23,95,11,0,0,0,0,1,0,81,...,0,0,0,PD,3080.V06.PP0042.0296.5104.SL.0269,V06,Male,3080,None,>80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4238,1,236,4,0,0,0,0,0,0,199,...,0,0,0,Prodromal,60096.V04.0000454551.5104.SL.4367,V04,Male,60096,RBD,>80
4246,0,148,4,0,0,4,0,0,0,46,...,0,0,0,Genetic Cohort,40601.V06.0001179668.5104.SL.4375,V06,Female,40601,LRRK2,>80
4252,2,215,18,0,0,0,0,0,0,80,...,0,0,0,Prodromal,60096.V02.0000341680.5104.SL.4381,V02,Male,60096,RBD,>80
4316,5,273,4,1,0,0,0,0,1,60,...,3,0,0,Genetic Cohort,40601.V08.0003326734.5104.SL.4446,V08,Female,40601,LRRK2,>80
4324,0,244,23,1,0,0,0,0,0,97,...,1,0,0,Prodromal,60096.V06.0003079840.5104.SL.4454,V06,Male,60096,RBD,>80

In [31]:
import anndata as ad
import numpy as np

ppmi_adata = ad.AnnData(bulk_feature_counts.iloc[:,bulk_feature_counts.columns.str.startswith("ENSG")])
ppmi_adata.obs['Sample'] = bulk_feature_counts[['Sample']]
ppmi_adata.obs['Diagnosis'] = bulk_feature_counts[['Diagnosis']]
ppmi_adata.obs['Visit'] = bulk_feature_counts[['Visit']]
ppmi_adata.obs['Gender'] = bulk_feature_counts[['Gender']]
ppmi_adata.obs['Patient'] = bulk_feature_counts[['Patient']]

/opt/anaconda3/lib/python3.12/site-packages/anndata/_core/aligned_df.py:68: ImplicitModificationWarning: Transforming to str index.
  warnings.warn("Transforming to str index.", ImplicitModificationWarning)

In [28]:

ppmi_adata.obs['Genetic_Group'] = bulk_feature_counts[['Genetic_Group']]
ppmi_adata.obs['Age_Group'] = bulk_feature_counts[['Age_Group']]
ppmi_adata.layers['counts_log2'] = np.log2(ppmi_adata.X + 1)

/opt/anaconda3/lib/python3.12/site-packages/anndata/_core/aligned_df.py:68: ImplicitModificationWarning: Transforming to str index.
  warnings.warn("Transforming to str index.", ImplicitModificationWarning)

In [30]:

ppmi_adata.write_h5ad("/Volumes/Elements/PPMI_Project_133_RNASeq/ppmi_adata.h5ad")

TypeError: Can't implicitly convert non-string objects to strings