# GSE184916
### Create a file for CIBERSORTx to deconvolute RBC proportions from the PPMI-Bulk RNASeq Dataset

In [20]:
!pip install scipy

Requirement already satisfied: scipy in /opt/anaconda3/lib/python3.12/site-packages (1.13.1)
Requirement already satisfied: numpy<2.3,>=1.22.4 in /opt/anaconda3/lib/python3.12/site-packages (from scipy) (1.26.4)

In [8]:
import scanpy as sc

In [11]:
adata = sc.read_10x_mtx("/Users/kpax/Documents/aep/study/MSC/lab/PPMI_Project_133_RNASeq/GSE184916")

In [22]:
import scipy
import pandas as pd
df = pd.DataFrame(
    adata.X.T.toarray() if scipy.sparse.issparse(adata.X) else adata.X.T,
    index=adata.var_names,
    columns=adata.obs_names
)

In [23]:
df.head()

,AAACCTGAGAGTACCG-1,AAACCTGCAGGTGCCT-1,AAACCTGCATCTCCCA-1,AAACCTGGTCTCAACA-1,AAACCTGGTTACGACT-1,AAACGGGAGATACACA-1,AAACGGGAGTACATGA-1,AAACGGGAGTTGAGAT-1,AAACGGGCATGCCACG-1,AAACGGGCATTCCTGC-1,...,TTTGGTTCATGGGACA-1,TTTGGTTTCGGCTTGG-1,TTTGTCACAAGCTGAG-1,TTTGTCACACACAGAG-1,TTTGTCACACACGCTG-1,TTTGTCACACAGAGGT-1,TTTGTCACACCTTGTC-1,TTTGTCACATACTCTT-1,TTTGTCATCTGGTATG-1,TTTGTCATCTGTTGAG-1
MIR1302-2HG,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
FAM138A,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
OR4F5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AL627309.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AL627309.3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [27]:
df.to_csv("/Users/kpax/Documents/aep/study/MSC/lab/PPMI_Project_133_RNASeq/scRNA_GSE184916.tsv", sep="\t", index_label="Gene")

In [29]:
ppmi_counts_df = pd.read_csv("/Users/kpax/Documents/aep/study/MSC/lab/PPMI_Project_133_RNASeq/ppmi_133_rna_counts_for_deconv.tsv", sep="\t")

In [30]:
ppmi_counts_df.shape

(58780, 4757)

In [31]:
ppmi_counts_df.iloc[:, :1000].to_csv("/Users/kpax/Documents/aep/study/MSC/lab/PPMI_Project_133_RNASeq/ppmi_counts_first_1000_columns.tsv", sep="\t", index=False)