# GSE184916
### Create a file for CIBERSORTx to deconvolute RBC proportions from the PPMI-Bulk RNASeq Dataset

In [20]:
!pip install scipy

Requirement already satisfied: scipy in /opt/anaconda3/lib/python3.12/site-packages (1.13.1)
Requirement already satisfied: numpy<2.3,>=1.22.4 in /opt/anaconda3/lib/python3.12/site-packages (from scipy) (1.26.4)

In [8]:
import scanpy as sc

In [175]:
adata = sc.read_10x_mtx("/Users/kpax/Documents/aep/study/MSC/lab/PPMI_Project_133_RNASeq/GSE184916")

In [180]:
adata.var

                    gene_ids    feature_types
MIR1302-2HG  ENSG00000243485  Gene Expression
FAM138A      ENSG00000237613  Gene Expression
OR4F5        ENSG00000186092  Gene Expression
AL627309.1   ENSG00000238009  Gene Expression
AL627309.3   ENSG00000239945  Gene Expression
...                      ...              ...
AC233755.2   ENSG00000277856  Gene Expression
AC233755.1   ENSG00000275063  Gene Expression
AC240274.1   ENSG00000271254  Gene Expression
AC213203.1   ENSG00000277475  Gene Expression
FAM231C      ENSG00000268674  Gene Expression

[33538 rows x 2 columns]

In [168]:
import scipy
import pandas as pd
df = pd.DataFrame(
    adata.X.toarray() if scipy.sparse.issparse(adata.X) else adata.X.T,
    index=adata.var_names,
    columns=adata.obs_names
)

In [160]:
adata.X = adata.X.toarray() if scipy.sparse.issparse(adata.X) else adata.X

In [169]:
df.head()

,MIR1302-2HG,FAM138A,OR4F5,AL627309.1,AL627309.3,AL627309.2,AL627309.4,AL732372.1,OR4F29,AC114498.1,...,AC007325.2,BX072566.1,AL354822.1,AC023491.2,AC004556.1,AC233755.2,AC233755.1,AC240274.1,AC213203.1,FAM231C
AAACCTGAGAGTACCG-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AAACCTGCAGGTGCCT-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AAACCTGCATCTCCCA-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AAACCTGGTCTCAACA-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AAACCTGGTTACGACT-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [164]:
# Add all the values from `adata.obs.index` as an array with dtype='<U9' to `adata.uns` under the key 'cell_types'
adata.uns = {'cell_types': adata.var.index.to_numpy()}

In [165]:
adata.uns

{'cell_types': array(['AAACCTGAGAGTACCG-1', 'AAACCTGCAGGTGCCT-1', 'AAACCTGCATCTCCCA-1',
        ..., 'TTTGTCACATACTCTT-1', 'TTTGTCATCTGGTATG-1',
        'TTTGTCATCTGTTGAG-1'], dtype=object)}

In [166]:
adata.uns['cell_types']

array(['AAACCTGAGAGTACCG-1', 'AAACCTGCAGGTGCCT-1', 'AAACCTGCATCTCCCA-1',
       ..., 'TTTGTCACATACTCTT-1', 'TTTGTCATCTGGTATG-1',
       'TTTGTCATCTGTTGAG-1'], dtype=object)

In [167]:
adata.write("/Users/kpax/Documents/aep/study/MSC/lab/PPMI_Project_133_RNASeq/scRNA_GSE184916.h5ad")

In [170]:
pbmc_data = sc.read_h5ad("/Users/kpax/Documents/aep/study/MSC/lab/PPMI_Project_133_RNASeq/pbmc_data.h5ad")

In [171]:
pbmc_data.obs.head()

,Monocytes,Unknown,CD4Tcells,Bcells,NK,CD8Tcells,ds,batch
index,,,,,,,,
0-0-0-0-0-0,0.203398,0.239919,0.256769,0.176380,0.069366,0.054167,data8k,0
1-0-0-0-0-0,0.040307,0.311746,0.026867,0.293398,0.145505,0.182177,data8k,0
2-0-0-0-0-0,0.075721,0.047757,0.290880,0.366874,0.182024,0.036745,data8k,0
3-0-0-0-0-0,0.023444,0.064087,0.323414,0.112059,0.214951,0.262044,data8k,0
4-0-0-0-0-0,0.057094,0.356590,0.019750,0.098512,0.307854,0.160200,data8k,0

In [172]:
pbmc_data.to_df().head()

index,A1BG,A1BG-AS1,A2M-AS1,AAAS,AACS,AAED1,AAGAB,AAK1,AAMDC,AAMP,...,ZW10,ZWILCH,ZWINT,ZXDA,ZXDB,ZXDC,ZYG11B,ZYX,ZZEF1,ZZZ3
index,,,,,,,,,,,,,,,,,,,,,
0-0-0-0-0-0,105.218369,8.294324,17.345791,29.039215,11.235410,25.412104,21.122787,154.511719,18.272173,95.094116,...,8.125196,9.356448,2.269749,4.273569,4.226498,12.115523,10.298044,133.913437,20.036352,17.350786
1-0-0-0-0-0,83.548050,7.310550,20.939571,33.323238,6.365817,37.233948,33.431145,133.746414,10.764763,85.822990,...,4.574496,14.774636,1.059822,5.959237,3.547994,15.021873,7.479664,122.663429,12.461473,22.651833
2-0-0-0-0-0,55.857975,9.647667,23.470444,23.138912,5.727055,30.031502,18.399967,181.496918,10.112911,85.818390,...,9.341053,11.237548,2.906288,2.925992,4.414089,15.870197,9.228605,89.473549,24.619715,27.119490
3-0-0-0-0-0,72.474304,10.847982,39.744076,33.144444,8.733225,24.349726,23.919998,247.607819,18.088413,98.951736,...,12.732161,12.338072,2.580337,5.804121,4.751589,12.966903,12.906163,90.360039,16.390787,21.814297
4-0-0-0-0-0,94.736320,9.964461,37.056915,30.139198,5.956050,39.747440,27.565084,160.088440,18.500992,97.624100,...,1.720577,14.033935,2.163061,0.503100,3.503955,10.552439,19.929268,137.338730,25.588085,28.964079

In [173]:
adata.obs.head()

                    gene_ids    feature_types
MIR1302-2HG  ENSG00000243485  Gene Expression
FAM138A      ENSG00000237613  Gene Expression
OR4F5        ENSG00000186092  Gene Expression
AL627309.1   ENSG00000238009  Gene Expression
AL627309.3   ENSG00000239945  Gene Expression

In [174]:
adata.obs

                    gene_ids    feature_types
MIR1302-2HG  ENSG00000243485  Gene Expression
FAM138A      ENSG00000237613  Gene Expression
OR4F5        ENSG00000186092  Gene Expression
AL627309.1   ENSG00000238009  Gene Expression
AL627309.3   ENSG00000239945  Gene Expression
...                      ...              ...
AC233755.2   ENSG00000277856  Gene Expression
AC233755.1   ENSG00000275063  Gene Expression
AC240274.1   ENSG00000271254  Gene Expression
AC213203.1   ENSG00000277475  Gene Expression
FAM231C      ENSG00000268674  Gene Expression

[33538 rows x 2 columns]

In [185]:
conda install -c conda-forge python-igraph

Channels:
 - conda-forge
 - bioconda
 - defaults
 - anaconda
Platform: osx-64
Collecting package metadata (repodata.json): done
Solving environment: / ^C

Note: you may need to restart the kernel to use updated packages.

In [184]:
sc.pp.normalize_total(adata, target_sum=1e4)
sc.pp.log1p(adata)
sc.pp.highly_variable_genes(adata, n_top_genes=2000)
sc.tl.pca(adata)
sc.pp.neighbors(adata)
sc.tl.leiden(adata, resolution=0.5)
sc.tl.rank_genes_groups(adata, "leiden", method="wilcoxon")

/opt/anaconda3/lib/python3.12/site-packages/scanpy/preprocessing/_highly_variable_genes.py:415: UserWarning: `n_top_genes` > number of normalized dispersions, returning all genes with normalized dispersions.
  warnings.warn(msg, UserWarning)
2025-04-04 20:23:22.145589: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX512F AVX512_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

ImportError: Please install the igraph package: `conda install -c conda-forge python-igraph` or `pip3 install igraph`.

In [183]:
adata.obs['cell_type']

KeyError: 'cell_type'